h1 {
    color: white;
}

body {
    background-color: #0e42da;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokedex {
    background-color: #e61515;
    width: 848px;
    /* height: 600px; */
    margin: 0 auto;
    padding: 1em;
    border-radius: 15px;
    /* box-sizing: border-box; */
    border: double black 10px;
    display: flex;
}

.panel {
    width: 359px;
    padding: 10px;
    border: inset #b31818 3px;
    border-radius: 3px;
}

.right-panel {
    padding: 0;
    width: 379px;
}

.divider {
    display: flex;
    flex-direction: column;
    width: 30px;
    margin: 0 20px;
    align-items: center;
    border: inset #460f0f 4px;
    border-radius: 4px;
    background: #460f0f;
}

.divider > * {
    border-radius: 4px;
    border: solid #2d0d0d 2px;
}

.hinge {
    background: linear-gradient(90deg, #891313 0, #b31818 30%, #e61515 45%, #fd5555 65%, #e61515 95%);
    border-right-color: #fd5555;
    border-top-color: #fd5555;
    flex: 10;
    width: 100%;
    border-left-color: #5f1010;
}

.gap:first-child {
    border-radius: 0 0 5px 5px;
    border-top: none;
}
.gap:last-child {
    border-radius: 5px 5px 0 0;
}

.gap {
    background: linear-gradient(90deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
    border-top-color: #891313;
    border-right-color: #b31818;
    flex: 1;
    width: 95%;
}

.screen {
    background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
    padding: 5px;
    border-radius: 3px;
    font-family: "VT323";
    border: inset #879a65 3px;
}

.pokemon-name {
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: capitalize;
    height: 45px;
    box-sizing: border-box;
}

.pokemon-description {
    font-size: 18px;
    letter-spacing: 0;
    height: 90px;
    box-sizing: border-box;
}

.pokemon-sprite {
    width: 100%;
    image-rendering: pixelated;
    border: inset #9aa28b 3px;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
}

/* types */
.type {
    color: white;
    text-transform: capitalize;
    font-size: 1.25em;
    padding: 2px;
    margin: 2px;
    border: groove #757575 3px;
    border-radius: 10px;
    width: 150px;
    font-family: "Staatliches", cursive;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: black -1px 1px 1px;
    align-self: center;
}

.type-header {
    text-transform: capitalize;
    font-size: 1.25em;
    padding: 5px;
    border-bottom: groove #757575 3px;
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-list {
    display: flex;
    flex-direction: column;
    border-left: groove #757575 3px;
    flex: 1;
}

.type-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

.stats {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    flex: 1;
}
.stat-line {
    font-size: 17px;
    text-transform: capitalize;
}

.panel-row {
    display: flex;
    border-bottom: groove #757575 3px;
}

.normal {
    background-color: #bfbfbf;
}

.fighting {
    background-color: #d87c58;
}

.flying {
    background-color: #999ade;
}

.poison {
    background-color: #925192;
}

.ground {
    background-color: #dea761;
}

.rock {
    background-color: #897864;
}

.bug {
    background-color: #b1c967;
}

.ghost {
    background-color: #c195dc;
}

.steel {
    background-color: #49769c;
}

.fire {
    background-color: #cf1414;
}

.water {
    background-color: #1689de;
}

.grass {
    background-color: #47a047;
}

.electric {
    background-color: #e6b700;
}

.psychic {
    background-color: #fa43b8;
}

.ice {
    background-color: #98c3de;
}

.dragon {
    background-color: #89315d;
}

.dark {
    background-color: #282433;
}

.fairy {
    background-color: #dca0ce;
}

.unknown {
    background-color: #545454;
}

.shadow {
    background-color: #364163;
}
